@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,600&display=swap");

html {
  transition: 0.3s;
  scroll-behavior: smooth;
}

p {
  font-family: "Josefin Sans", sans-serif, "Vazirmatn", sans-serif;
  font-size: large;
  padding-top: 16px;
}

.navbar {
  font-family: "Cairo Play", cursive;
}

h1 {
  font-family: "Cairo Play", cursive;
}

h1 img {
  max-width: 54px;
  max-height: 54px;
  border-radius: 40px;
  padding: 10px;
}

h2 img {
  max-width: 54px;
  max-height: 54px;
  padding: 10px;
  border-radius: 40px;
}

h2 {
  font-family: "Alumni Sans", sans-serif;
  color: rgb(221, 221, 221);
  text-decoration: none;
  transition: 0.3s;
}

h2:hover {
  color: rgb(0, 217, 255);
  text-decoration: none;
  transition: 0.3s;
}

.col {
  font-size: smaller;
  padding-top: 20px;
  padding-bottom: 50px;
}

.pink4 img {
  min-width: 50%;
  max-width: 50%;
}

.pink4 .blue {
  color: aqua;
}

.pink4 .orange {
  color: orange;
}

.pink4 .red {
  color: rgb(255, 124, 124);
}

.pink4 .redd {
  color: rgb(255, 8, 8);
}

.d-flex {
  color: rgb(221, 221, 221);
  text-decoration: none;
  transition: 0.3s;
}
.d-flex:hover {
  color: rgb(152, 0, 190);
  text-decoration: none;
  transition: 0.3s;
}

.cotainer {
  font-size: 5px;
  color: aliceblue;
}

section {
  padding: 100px 20vw;
}

.pink1 {
  background: #2d033b;
  background-image: url(/bg1.svg);
}

.pink2 {
  background: #810ca8;
}

.pink3 {
  background: #c147e9;
}

.pink4 {
  background: #1d0d22;
}

.pink5 {
  background: #000000;
}

.textbox {
  text-align: right;
}

.textbox2 {
  text-align: left;
}

.textbox3 {
  text-align: right;
}

.waw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waw svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.waw .shape-fill {
  fill: #2d033b;
}

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer2 {
  aspect-ratio: 900/500;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.spacer3 {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waw1 {
  background-image: url(/waw1.svg);
}

.waw2 {
  background-image: url(/waw2.svg);
}

.waw3 {
  background-image: url(/waw3.svg);
}

.waw4 {
  background-image: url(/waw4.svg);
}

.waw5 {
  background-image: url(/bg6.svg);
}

.waw6 {
  background-image: url(/waw6.svg);
}

.last {
  background-image: url(/last.svg);
}

.section .button {
  margin-top: 10px;
}

.button {
  font-size: large;
  border-radius: 55px;
  background: rgb(26, 8, 90);
  color: aliceblue;
}

#mybtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2d033b;
  color: aliceblue;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  display: none;
}

#mybtn:hover {
  background-color: black;
  transition: 0.2s;
}
