@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&display=swap");

* {
  transition: 0.3;
}

html {
  transition: 0.3s;
  scroll-behavior: smooth;
}

.navbar {
  font-family: "Cairo Play", cursive;
}

h1 {
  font-family: "Cairo Play", cursive;
}

h2 {
  font-family: "Cairo Play", cursive;
}

h1 img {
  width: 4%;
  border-radius: 10px;
}

h2 img {
  width: 4%;
  border-radius: 10px;
}

h2 {
  color: rgb(221, 221, 221);
  text-decoration: none;
  transition: 0.3s;
}
h2:hover {
  color: rgb(0, 217, 255);
  text-decoration: none;
  transition: 0.3s;
}


.d-flex {
  color: rgb(221, 221, 221);
  text-decoration: none;
  transition: 0.3s;
}
.d-flex:hover {
  color: rgb(152, 0, 190);
  text-decoration: none;
  transition: 0.3s;
}

.cotainer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

section {
  padding: 100px 20vw;
}

.pink1 {
  background: #2d033b;
  background-image: url(/bg1.svg);
}

.pink2 {
  background: #810ca8;
}

.pink3 {
  background: #c147e9;
}

.waw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waw svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 52px;
}

.waw .shape-fill {
  fill: #2d033b;
}

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waw1 {
  background-image: url(/waw1.svg);
}

.waw2 {
  background-image: url(/waw2.svg);
}

#mybtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #2d033b;
  color: aliceblue;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  display: none;
}

#mybtn:hover {
  background-color: black;
  transition: 0.2s;
}
