@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&display=swap");

* {
  font-family: "Cairo Play", cursive;
  color: black;
}
body {
  color: black;
  background-color: black;
  background-image: url(bg.jpg);
}

navbar {
  border: 0px solid #ffffff;
  border-radius: 70px;
  box-shadow: -1px -1px 38px 4px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px -1px 38px 4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px -1px 38px 4px rgba(0, 0, 0, 0.63);
}

.bg-option {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.d-flex {
  color: rgb(33, 23, 61);
  text-decoration: none;
  transition: 0.3s;
}
.d-flex:hover {
  color: rgb(152, 0, 190);
  text-decoration: none;
  transition: 0.3s;
}

.card-transparent {
  margin-top: 20px;
  border: 0px solid #ffffff;
  border-radius: 70px;
  box-shadow: -1px -1px 38px 4px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -1px -1px 38px 4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: -1px -1px 38px 4px rgba(0, 0, 0, 0.63);
}
